div.authentication_select_method_bigbutton #authentication_select_method_submit_adlibrary_activedirectory {
    background-image: url("../images/medium/microsoftad.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_adlibrary_activedirectory {
    background-image: url("../images/small/microsoftad.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_form_adlibrary_activedirectory {
    background: transparent url("../images/extrasmall/microsoftad.png") no-repeat scroll center left;
}